@{
    <!--ViewData["Title"] = "Home Page";-->
    ViewData["Title"] = VuePlanner.Program.result;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>